@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(100.35deg, rgba(50, 28, 114, 0.9) 0.69%, rgba(0, 133, 139, 0.9) 98.48%);
    
}
.login-right{
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 541px;
}
.login-right h1{
    font-family: Roboto;
    font-weight: bold;
    font-size: 2.5rem;
    color: #321C72;
    padding-top: 1rem;
}
.login-right h2{
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    color: #321C72; 
    margin-bottom: 20px;
}

.ou{
   display: flex;
   justify-content: center;
    align-items: center;
}

.login-right h4{
 
    font-family: Roboto;
    font-weight: 300;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(167, 167, 167);

}
.login-loginInputEmail{ 
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    color: rgba(240, 240, 240, 0.082);
    background-color: #fff;
    border-radius: 3px;
    width: 272px;
    height: 30px;
    padding-top: -1rem;
}

.login-linha{
    margin-bottom: 1rem;
    background-color: #321C72;
    width: 100%;
    height: -10rem;
    border: 1px solid #321C72;
}

.login-loginInputEmail input{
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 17px;
   
}
.login-loginInputPassword {
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    color: white;
    background-color: #fff;
    border-radius: 3px;
    padding-top: -1rem;
    width: 272px;
    height: 30px;
}
.login-loginInputPassword input{
    width: 100%;
    outline-width: 0;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 17px;

    
}
.login-right button{
    width: 100%;
    background: radial-gradient(100% 2328.06% at 100% 0%, #00858B 0%, #321C72 100%);
    color: rgb(255, 255, 255);
    font-weight: normal;
    height: 40px;
    font-family: 'Roboto';
    font-size: 17px;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    outline-width: 0;
}
.login-right button:hover {
    background-color: rgb(21, 16, 63);
    color: white;
    cursor: pointer;
}

form button[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: radial-gradient(99.25% 2265.09% at 99.97% 0%, #9e9e9e 0%, #00858B 76.91%);
    
}

form button[type="button"]:hover {
    letter-spacing: 0.5px;
    background: radial-gradient(99.25% 2265.09% at 99.97% 0%, #9e9e9e 0%, #00858B 76.91%);
    
}

.login-logo{
    padding-right: 1rem;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn{
    margin-top: -0.9rem;
    border: 0;
    outline: 0;
    width: 70%;
    height: 3rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: radial-gradient(100% 2328.06% at 100% 0%, #00858B 0%, #321C72 100%);
    border-radius: 2px;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: radial-gradient(99.25% 2265.09% at 99.97% 0%, #9e9e9e 0%, #00858B 76.91%);
    
}
